
<ul class="example-orbit" data-orbit data-options="animation:slide; navigation_arrows:true;
                  bullets:false; slide_number: false; timer_speed: 3000; resume_on_mouseout: true;
                  animation_speed: 300;">
  <li data-orbit-slide>
    <img src="assets/image-1.jpg" alt="slide 1" />

  </li>
  <li class="active" data-orbit-slide>
    <img src="assets/image-2.jpg" alt="slide 2" />
  </li>
  <li data-orbit-slide>
    <img src="assets/image-3.jpg" alt="slide 3" />
  </li>
</ul>

<div class="contactanos-barra">
    <div class="row">
      <div class="small-12 large-12 columns">
        <h4>LOREM IPSUM DOLOR SIT AMET, CONSECTETUS ADIPISICING ELIT DOLOREM AMET.</h4> 
      </div>
    </div>
</div>

<div class="primer-cuerpo">
  <div class="row">
      
      <div class="large-4 medium-4 small-4 columns">
        <%= image_tag("body1-img1.jpg", size: "165x165", alt: "Edit Entry", class:"body1-left") %>
        <%= image_tag("body1-img2.jpg", size: "165x165", alt: "Edit Entry", class:"body1-img") %>
        <div class="body1-text">
          <h5>Resourcefulness and Creativity</h5>
          <h6>LOREM IPSUM DOLOR</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab odio atque possimus, libero placeat architecto impedit, nam iure, quaerat reiciendis repellendus eaque ipsa optio vitae doloribus dicta. Error itaque, laudantium.</p>
        </div>
      </div>

      
      <div class="large-4 medium-4 small-4 columns">
        <%= image_tag("body1-img3.jpg", size: "165x165", alt: "Edit Entry", class:"body1-img-mid") %>
        <%= image_tag("body1-img4.jpg", size: "165x165", alt: "Edit Entry", class:"body1-img") %>
        <div class="body1-text">
          <h5>Resourcefulness and Creativity</h5>
          <h6>LOREM IPSUM DOLOR</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores at, quis mollitia adipisci veniam, amet ratione, voluptatibus ad accusamus ipsum quidem, dignissimos laborum iusto. Aliquid, quae adipisci labore quis voluptate.</p>
        </div>
      </div>

      
      <div class="large-4 medium-4 small-4 columns">
      <%= image_tag("body1-img5.jpg", size: "350x160", alt: "Edit Entry", class:"body1-right") %>
        <div class="body1-text">
          <h5>Resourcefulness and Creativity</h5>
          <h6>LOREM IPSUM DOLOR</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias non facilis praesentium, laborum ex obcaecati hic. Quidem possimus recusandae commodi autem ratione quo, natus reprehenderit ducimus consequatur, vitae sapiente alias.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="nuestros-proyectos-barra">
    <div class="nuestros-proyectos-header">NUESTROS PROYECTOS</div>
    <div class="image-row">
      <%= image_tag("body2-img1.jpg", alt: "Edit Entry", class:"body2-img") %>
      <%= image_tag("body2-img2.jpg", alt: "Edit Entry", class:"body2-img") %>
      <%= image_tag("body2-img3.jpg", alt: "Edit Entry", class:"body2-img") %>
      <%= image_tag("body2-img4.jpg", alt: "Edit Entry", class:"body2-img") %>
      <%= image_tag("body2-img5.jpg", alt: "Edit Entry", class:"body2-img") %>
    </div>
  </div>
</div>

<div class="segundo-cuerpo">
  <div class="row">
    <div class="large-2 medium-2 small-2 columns tab">
      <ul>
        <li class="tab-item active" data-tab="1"><a href="#" data-tab="1">Tab</a></li>
        <li class="tab-item" data-tab="2"><a href="#" data-tab="2">Tab</a></li>
        <li class="tab-item" data-tab="3"><a href="#" data-tab="3">Tab</a></li>
        <li class="tab-item" data-tab="4"><a href="#" data-tab="4">Tab</a></li>
      </ul>
    </div>
    <div class="large-6 medium-6 small-6 columns">
      <div class="tab-content active" data-tabContent="1">
        <h5>
          Que Ofrecemos 1
        </h5>
        <ul>
          <li>Una Cosa</li>
          <li>Otra Cosa</li>
          <li>Otra Cosa</li>
        </ul>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus velit libero veniam, nisi, totam, officia repellat facilis saepe nostrum cumque sapiente! Vero tenetur architecto eaque iusto, accusantium doloribus fugit quia et nobis hic voluptatibus deleniti veritatis porro, excepturi, dolore magni natus fuga facere. Molestiae, omnis ducimus ab distinctio ratione voluptate?</p>
      </div>
      <div class="tab-content" data-tabContent="2">
        <h5>
          Que Ofrecemos 2
        </h5>
        <ul>
          <li>Una Cosa</li>
          <li>Otra Cosa</li>
          <li>Otra Cosa</li>
        </ul>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus velit libero veniam, nisi, totam, officia repellat facilis saepe nostrum cumque sapiente! Vero tenetur architecto eaque iusto, accusantium doloribus fugit quia et nobis hic voluptatibus deleniti veritatis porro, excepturi, dolore magni natus fuga facere. Molestiae, omnis ducimus ab distinctio ratione voluptate?</p> 
      </div>
      <div class="tab-content" data-tabContent="3">
        <h5>
          Que Ofrecemos 3
        </h5>
        <ul>
          <li>Una Cosa</li>
          <li>Otra Cosa</li>
          <li>Otra Cosa</li>
        </ul>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus velit libero veniam, nisi, totam, officia repellat facilis saepe nostrum cumque sapiente! Vero tenetur architecto eaque iusto, accusantium doloribus fugit quia et nobis hic voluptatibus deleniti veritatis porro, excepturi, dolore magni natus fuga facere. Molestiae, omnis ducimus ab distinctio ratione voluptate?</p>
      </div>
      <div class="tab-content" data-tabContent="4">
        <h5>
          Que Ofrecemos 4
        </h5>
        <ul>
          <li>Una Cosa</li>
          <li>Otra Cosa</li>
          <li>Otra Cosa</li>
        </ul>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus velit libero veniam, nisi, totam, officia repellat facilis saepe nostrum cumque sapiente! Vero tenetur architecto eaque iusto, accusantium doloribus fugit quia et nobis hic voluptatibus deleniti veritatis porro, excepturi, dolore magni natus fuga facere. Molestiae, omnis ducimus ab distinctio ratione voluptate?</p>
      </div>
    </div>

    <div class="large-4 medium-4 small-4 columns">
        <div class="tab-secondary-content active" data-tabContent="1">
          <img src="assets/tab1-image.jpg" alt="#">
          <h5>
            Obten tu consulta 1
          </h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo recusandae inventore quidem fuga, modi, explicabo sequi. Iure expedita molestiae vel.</p>
        </div>

        <div class="tab-secondary-content" data-tabContent="2">
          <img src="assets/tab1-image.jpg" alt="#">
          <h5>
            Obten tu consulta 2
          </h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo recusandae inventore quidem fuga, modi, explicabo sequi. Iure expedita molestiae vel.</p>
        </div>

        <div class="tab-secondary-content" data-tabContent="3">
          <img src="assets/tab1-image.jpg" alt="#">
          <h5>
            Obten tu consulta 3
          </h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo recusandae inventore quidem fuga, modi, explicabo sequi. Iure expedita molestiae vel.</p>
        </div>

        <div class="tab-secondary-content" data-tabContent="4">
          <img src="assets/tab1-image.jpg" alt="#">
          <h5>
            Obten tu consulta 4
          </h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo recusandae inventore quidem fuga, modi, explicabo sequi. Iure expedita molestiae vel.</p>
        </div>
    </div>

  </div>  
</div>

<div class="anuncio-parallax">
     <h3>De idea, plan a solucion.</h3>
</div>

<div class="tercer-cuerpo">
  <div class="row">
    
  </div>
</div>